
@{
    Layout= "";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon"
          type="image/png"
          href="~/Content/kepek/logo.png">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/Content/styles.css">
    <title>GIT - Bejelentkezés</title>
</head>
<body>
    <center>
        <div class="container">
            <form action="action_page.php">

                <h1>Üdvözlünk a Gépész Informatika Tantárában - GIT:</h1>
                <p>Ha még nem használtad a felületet, kérünk, regisztrálj!</p>
                <img src="kepek/logo.png" alt="" width="200" height="200">




                <table>
                    <tr>
                        <td><label for="psw"><b>Gmail-emailcímed:</b></label></td>
                        <td><input type="text" placeholder="" name="uname"></td>
                    </tr>
                    <tr>
                        <td><label for="psw"><b>Jelszavad:</b></label></td>
                        <td><input type="password" placeholder="" name="psw"></td>
                    </tr>
                   
                  
                </table>


                <p>
                    <button type="submit">Bejelentkezés</button>
                    <button type="submit">Regisztráció</button>
                    <label>


        </div>

        </form>
    </center>

</body>
</html>

