
body { 
    background-image: url("/Content/kepek/backg.jpg");
	font-family: Franklin Gothic;
    font-size: 20px;
    color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

button {
	background-color: rgb(240, 240, 240);
	font-family: Franklin Gothic;
    font-size: 25px;
    color: black;
	border: 1px solid;
	border-radius: 20px;
}

input{
    font-family: Fixedsys;
    font-size: 20px;
    color: black;
    background-color:  rgb(240, 240, 240);	
	border: 1px solid;
	border-radius: 20px;
}

select {
	font-family: Fixedsys;
    font-size: 20px;
    color: black;
    background-color: rgb(240, 240, 240);
	border: 1px solid;
	border-radius: 20px;
}

* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}


.tab {
    float: left;
    width: 20%;
    height: 300px;
}


.tab button {
    display: block;
    background-color:rgba(0, 0, 0, .2);
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    font-size: 17px;
}


.tab button:hover {
    background-color:rgba(0, 0, 0, .2);
}


.tab button.active {
    background-color:rgba(0, 0, 0, .3) ;
}


.tabcontent {
    float: left;
    padding: 0px 12px;
    width: 70%;
    border-left: none;
    height: 300px;
    display: none;
	background:transparent ;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.keret {
	background:transparent ;
	border-radius: 20px;
	background:rgba(0, 0, 0, .2) ;
}

h2{
	font-size: 17px;
}

h4{
	font-size: 40px;
}

.right{
	text-align:right
}

header{
	background:rgba(0, 0, 0, .1) ;	
	border-radius: 20px;
}

#no{
	background:transparent ;
}

#noo{
	background:transparent ;
}

#yes{
	background:rgba(0, 0, 0, .1) ;
}

.container{
	position:absolute;
	left: 0;
	top:50vh;
	width: 100%;	
    transform: translateY(-50%);
}